h2{
    font-size: xx-large;
    color:aquamarine;

}
body{
    background-image: url(https://images6.alphacoders.com/327/thumbbig-327099.webp);
   background-repeat: no-repeat;
   background-size: cover;
}
nav{
    background-image: url(https://images6.alphacoders.com/327/thumbbig-327099.webp);
    background-repeat: no-repeat; 
   background-size:cover;
}
h3{
    padding-bottom: 2px;
    color:cyan;
    font-style: italic;
}
h5{
    color:rgb(77, 151, 174);
    padding-right:12px;
    padding-top:50px;
}

a:visited{
    color:mediumspringgreen;
}

a:hover{
    color:rgb(170, 206, 207);
} 
hr{
    color: deepskyblue;
}
p{
    margin-left:1300px;
    color:mediumspringgreen;
}

h3{
    text-align: left;
    margin:2px 12px;
    font-style: italic;
}
img{
    width:490px;
      height:350px;
      padding-left: 100px;
      padding-top: 20px;
      padding-right:40px;
    border-radius: 10%;
    }
    span{
        text-align: left;
        margin: 12px 20px;
        color: #19c619bb;
    }

    table{
  margin:32px 500px;
  border-radius: 5%;
  border:7px solid rgba(79, 209, 172, 0.54);
  text-align: center;
  width:40%;
 columns:3px;
  row-gap: 2px;
  background-color: rgba(228, 149, 222, 0.366);
    }
    td{
        color:rgb(200, 37, 31);
        border-radius: 5%;
        border:7px solid rgba(79, 209, 172, 0.54);
    }
    th{
        color:rgba(226, 232, 236, 0.796);
        border-radius: 5%;
        border:7px solid rgba(79, 209, 172, 0.54);
    }
