
h1{
    font-size: xx-large;
    color:aquamarine;

}
#frog{
        width: 300px;
        height: 120px;
border-radius: 50%;
        visibility: visible;
        margin-left: -200px;
}
h2{
    font-size: xx-large;
    color:aquamarine;
margin-left: 12px;
}
body{
    background-image: linear-gradient(100deg,rgba(150, 85, 219, 0.3),rgba(228, 218, 218, 0.6)) ,  url(https://images6.alphacoders.com/327/thumbbig-327099.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: local;
}
    .navbar{
    background:transparent !important;
    }
h3{
    padding-bottom: 2px;
    color:cyan;
    font-style: italic;
}
h5{
    color:rgb(77, 151, 174);
    padding-top:50px;
}

a:visited{
    color:mediumspringgreen;
}

a:hover{
    color:rgb(200, 23, 135);
} 
hr{
    color: deepskyblue;
}
p{
    margin-left:13px;
    color:mediumspringgreen;
}

h3{
    text-align: left;
    margin:2px 12px;
    font-style: italic;
}
img{
    width:490px;
      height:350px;
      padding-left: 100px;
      padding-top: 20px;
      padding-right:40px;
    border-radius: 10%;
    }
    span{
        text-align: left;
        margin: 12px 20px;
        color: #19c619bb;
        font-size: large;
    }

    table{
  margin:32px 500px;
  border-radius: 5%;
  border:7px solid rgba(79, 209, 172, 0.54);
  text-align: center;
  width:40%;
 columns:3px;
  row-gap: 2px;
  background-color: rgba(228, 149, 222, 0.366);
    }
    td{
        color:rgb(200, 37, 31);
        border-radius: 5%;
        border:7px solid rgba(79, 209, 172, 0.54);
    }
    th{
        color:rgba(226, 232, 236, 0.796);
        border-radius: 5%;
        border:7px solid rgba(79, 209, 172, 0.54);
    }

     @media only screen and (min-width:0px)and (max-width:360px){
        table{
            margin-left:0px;
            width:350px;
        }
        img{
            width:330px;
            padding-left:0px;
            height:200px ;
        }
        #frog{
            margin-left:0px;
            width:100px;
            height:70px;
        }
        
     }
     @media only screen and (min-width:360px)and (max-width:500px){
        table{
            margin-left:0px;
            width:350px;
        }
        img{
            width:330px;
            padding-left:0px;
            height:200px ;
        }
        #frog{
            margin-left:0px;
            width:100px;
            height:70px;
        }
        
     }
